/*
Project Name: Startup Matchmaker
Author: Celia Chung
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

header {
  background-color: #000000;
  height: 100px;
  /*padding-top: 30px;*/
  overflow: hidden;
  border-bottom: 5px solid #fdf731;
}

h1.logo a{
  color: #fdf731;
  font-size: 1.87em;
  font-family: "Merriweather";
  font-weight: 700;
  float: left;
  margin-left: 40px;
  padding-top: 30px;
}

nav {
  font-size: 1.25em;
  font-family: "Oswald";
  font-weight: 700;
  color: #ffffff;
  float: right;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: #ffffff;
  padding:0 15px;
}


nav a {
  display: inline-block;
}

li {
  display: inline-block;
  line-height: 97px;
  margin-top: -2px;
}

li.other-links {
  font-family: "Source Sans Pro";
  font-weight: 400;
  margin-top: -2px;
  line-height: 95px;
}

nav a:hover {
  color: #fdf731;
}

nav li.active {
  color: #ffffff;
  background-color: #777;
}

.tagline {
  background-color: #c6c6c6;
  height: 100px;
  font-family: "Merriweather";
  font-weight: 700;
  font-style: italic;
  font-size: 1.56em;
  text-align: center;
  padding-top: 35px;
}

del {
  color: #808080;
}

ins {
  color: #fdf731;
}

.top {
  overflow: hidden;
}

.main-image {
  background: url("../images/coworking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: auto;
  height: 800px;
}

.blurb {
  width: 40%;
  min-height: 250px;
  background-color: rgba(255,255,255,.85);
  float: right;
  /*margin: auto;*/
  padding: 30px;
  display: inline-block;
  border: 2px solid #ddd;
  margin-top: 170px;
  margin-right: 50px;
}

.meet-your-match {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.875em;
  padding-bottom: 20px;
}

.meet-blurb {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.25em;
  line-height: 25px;
  padding-bottom: 30px;
}

.create-a-profile-btn {
  background-color: #fdf731;
  color: #000000;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 1.25em;
  width: 300px;
  height: 60px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #B29A36;

}

.bottom {
  overflow: hidden;
}

.create-a-portfolio {
  width: 30%;
  height: 325px;
  margin-top: 1.875em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  display: inline-block;
  border-right: 1px solid #c6c6c6;
}

.title-style {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 1.56em;
  padding-top: 30px;
  padding-bottom: 15px;
}

.text-style {
  font-family: "Source Sans Pro";
  font-size: 1.25em;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}

.grey-btn {
  background-color: #c6c6c6;
  color: #000000;
  width: 300px;
  height: 60px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #808080;
}

.find-a-developer {
  width: 30%;
  height: 325px;
  padding-left: 1.875em;
  padding-right: 1.875em;
  display: inline-block;
  border-right: 1px solid #c6c6c6;
}

.find-a-designer {
  width: 30%;
  height: 325px;
  padding-left: 1.875em;
  padding-right: 1.875em;
  display: inline-block;
}

#signup {
  
}

footer {
  background-color: #000000;
  height: 100px;
}

.footer-copy {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  padding-top: 40px;
  padding-left: 40px;
}

@media only screen and (max-width: 767px) {
  .tagline {
    font-size: 1em;
  }

  .meet-your-match {
    font-size: 1.875em;
  }

  .blurb {
    width: 80%;
  }

  .title-style {
    font-family: 1em;
  }

  .text-style {
    font-family: 1em;
  }  

  .create-a-profile-btn {
    width: 100%;
  }

  .find-a-developer {
  width: 90%;
  border-right: none;
  border-bottom: 1px solid #c6c6c6;
}

  .find-a-designer {
  width: 90%;
  border-right: none;
}

  .create-a-portfolio {
    width: 90%;
    border-right: none;
    border-bottom: 1px solid #c6c6c6;
  }

  .hamburger {
    float: right;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

  .line-1 {
    height: 1px;
    width: 30px;
    background-color: white;
    float: right;
  }



}